body {
    margin: 0;
    overflow: hidden; 
}

/* Styling the title */
h1 {
    font-family: Arial;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

/* Styling the SVG/data */
svg {
    display: block;
    margin: auto;
    border: 2px solid #ccc; 
    border-radius: 90px;
}

/* Styling the text in the legend */
.legend text {
    font-family: Arial;
    font-size: 30px;
    fill: #666; 
    dominant-baseline: central;
}

/* Styling the circle elements in the legend */
.legend circle {
    stroke: #000000;
    stroke-width: 1px;
}


